:root {
  --black-basic: #000;
  --black-almost: #363636;

  --white: #fff;

  --grey-basic: #7e7e7e;
  --grey-dark: #464646;
  --grey-light: #e5e5e5;
  --grey-back: #ebebeb;
  --grey-form-back: #f2f2f2;
  --grey-form-back-hover: #eaeaea;
  --grey-page-hover: #d9d9d9;
  --grey-filter-back: #dcdcdc;

  --yellow: #f7e296;
  --yellow-bar: #ffc600;
  --orange: #f0c52e;
  --green: #91c92f;
  --pink: #f6dada;

  --font-open-sans: "Open-Sans", Arial, sans-serif;
  --font-gilroy: "Gilroy", Arial, sans-serif;

  --transition-duration: 0.6s;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-extrabold.woff2") format("woff2"),
  url("../fonts/gilroy-light.woff2") format("woff2"),
  url("../fonts/gilroy-extrabold.woff") format("woff"),
  url("../fonts/gilroy-light.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  min-width: 1160px;
  font-family: var(--font-open-sans);
  font-size: 15px;
  line-height: 28px;
}

a {
  text-decoration: none;
  color: var(--black-basic);
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-body ul {
  list-style: none;
}

.main-body ul,
.main-body p,
.main-body h1,
.main-body h2,
.main-body h3 {
  padding: 0;
  margin: 0;
}

.main-body h1 {
  margin-top: 44px;
}

.main-body .breadcrumbs {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs li {
  margin-right: 14px;
}

.main-header {
  background-image: linear-gradient(var(--white) 20px, var(--yellow) 20px);
}

.header-upper-row {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
}

.header-main-nav {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: var(--font-gilroy);
  text-transform: uppercase;
  margin-top: 50px;
}

.header-main-nav__upper-menu {
  display: flex;
  flex-wrap: wrap;
  width: 1040px;
}

.form-search {
  width: 530px;
  display: flex;
}

.submenu {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: var(--font-open-sans);
  text-transform: none;
  letter-spacing: normal;
  display: none;
  position: absolute;
  z-index: 1;
  background-color: var(--yellow);
  width: 1160px;
  min-height: 146px;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 30px);
}

.submenu__action-camera-option {
  grid-row-start: 3;
}

.slider-section {
  font-family: var(--font-gilroy);
  background-image: linear-gradient(var(--yellow) 146px, var(--white) 146px);
  position: relative;
}

.slider-section article {
  padding: 110px 35px 5px 600px;
  position: relative;
}

.slider_active {
  display: flex;
}

.slider::before {
  content: "";
  position: absolute;
  width: 384px;
  height: 486px;
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  left: 89px;
  top: 17px;
}

.slider__slider-2::before {
  background-image: url("../img/slider-2.png");
  top: 60px;
  left: 116px;
}

.slider__slider-3::before {
  background-image: url("../img/slider-3.png");
  width: 526px;
  height: 334px;
  top: 100px;
  left: 30px;
}

.slider .button_interactive {
  width: 220px;
  margin-top: 60px;
}

.service-section {
  background-image: linear-gradient(var(--white) 115px, var(--grey-light) 115px);
  margin-top: 50px;
}

.service-section .container {
  display: flex;
  min-height: 403px;
}

.full-description {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin-top: 60px;
  width: 444px;
}

.slider__slider-2 .full-description {
  grid-template-columns: repeat(1, auto);
}

.slider__slider-3 .full-description {
  grid-template-columns: repeat(2, auto);
}

.slider-controls {
  position: absolute;
  display: flex;
  right: 86px;
  bottom: 118px;
}

.slider-section .description,
.main-footer {
  font-family: var(--font-open-sans);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.main-body .description {
  margin-top: 30px;
}

.slider-section h3 {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.slider-section .property-value {
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
}

.slider-section .property-description {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
}

.button_interactive {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
  min-width: 160px;
  background-color: transparent;
  border: none;
}

.button_interactive::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  background-color: var(--orange);
  z-index: -1;
  transition-duration: var(--transition-duration);
}

.button_interactive:hover::before {
  height: 100%;
}

.button_interactive:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.service-section .button_interactive {
  width: 160px;
}

.service-section .button_interactive_active,
.service-section .button_interactive:active {
  color: var(--yellow);
  width: 280px;
  background-color: var(--black-basic);
  transition-duration: var(--transition-duration);
}

.service-section .button_interactive_active::before,
.service-section .button_interactive:active::before {
  display: none;
}

.product-type-section,
.service-section a,
.button_interactive,
.footer-nav,
.popup-feedback label,
.catalog-section a {
  font-family: var(--font-gilroy);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.footer-nav,
.social-icon-list {
  display: flex;
  justify-content: center;
}

.footer-nav li {
  margin-right: 36px;
}

.social-icon-list li {
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-icon-list li:last-child {
  margin-right: 0;
}

.product-type-section {
  margin-top: 96px;
}

.footer__user-menu {
  display: flex;
  justify-content: space-between;
  width: 480px;
}

.product-type-section ul {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
}

.service-section h3,
.about-us-section h2,
.contact-section h2,
.main h1 {
  font-family: var(--font-gilroy);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.service-section p,
.about-us-section p,
.contact-section p {
  font-family: var(--font-open-sans);
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
}

.main-body .delivery-list {
  font-family: var(--font-gilroy);
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  margin-top: 60px;
}

.delivery-list li {
  margin-bottom: 20px;
}

.main-body .service-list {
  position: relative;
  margin-top: 95px;
}

.service-list::after {
  content: "";
  height: 320px;
  width: 7px;
  background-color: var(--black-basic);
  position: absolute;
  z-index: 1;
  right: 0;
  top: -94px;
}

.main-body .service-slider {
  margin-left: 116px;
}

.service-slider h3 {
  margin-top: 86px;
}

.service-slider p {
  margin-top: 40px;
  width: 540px;
}

.service-slide {
  position: relative;
}

.service-slide::after {
  position: absolute;
  content: "";
  background-image: url("../img/service-delivery.png");
  width: 136px;
  height: 164px;
  right: 0;
  top: 0;
}

.service-slider__warranty::after {
  background-image: url("../img/service-warranty.png");
  width: 171px;
  height: 195px;
}

.service-slider__credit::after {
  background-image: url("../img/service-credit.png");
  width: 156px;
  height: 188px;
}

.partner-section {
  margin-top: 90px;
}

.partner-list {
  display: flex;
  flex-wrap: wrap;
}

.about-us-and-contact-div {
  margin-top: 90px;
  display: flex;
  margin-bottom: 86px;
}

.about-us-and-contact-div .button_interactive {
  width: 260px;
  margin-top: 85px;
}

.contact-section img {
  margin-top: 40px;
}

.about-us-section {
  width: 473px;
  margin-right: 127px;
}

.contact-section {
  width: 560px;
}

.about-us-and-contact-div h3 {
  margin-bottom: 50px;
}

.about-us-and-contact-div p {
  margin-top: 40px;
}

.popup-feedback input,
.popup-feedback textarea,
.breadcrumbs,
.form-filter label,
.sort-section-link-list {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.link-exit,
.breadcrumbs a {
  opacity: 0.3;
}

.main h2,
.sort-section h3,
.pages-section {
  font-family: var(--font-gilroy);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.form-filter legend {
  font-family: var(--font-gilroy);
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
}

.form-filter label {
  font-weight: 300;
}

.main-body .price {
  font-family: var(--font-gilroy);
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  margin-left: 10px;
}

.product-text a {
  width: 250px;
}

.button-add-to-compare {
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
}

.pages-section {
  background-color: var(--grey-back);
  margin-bottom: 78px;
}

.pages-section .pages-section__page-list {
  display: flex;
  flex-wrap: wrap;
}

.pages-section__page-list li:nth-child(2),
.pages-section__page-list li:last-child {
  margin-left: auto;
}

.footer__user-menu a {
  opacity: 0.7;
  color: inherit;
}

.main-footer {
  color: var(--white);
  background-color: var(--black-almost);
}

.footer__middle-row a {
  color: inherit;
  text-transform: uppercase;
}

.footer-nav a,
.contact-section h2,
.about-us-section h2,
.button_interactive,
.service-section h3,
.header-main-nav {
  letter-spacing: 0.2em;
}

.catalog-link {
  letter-spacing: 0.1em;
  position: relative;
  width: 500px;
}

.catalog-link:hover .submenu {
  display: grid;
}

.main-header a:hover,
.main-footer a:hover {
  opacity: 0.6;
}

.footer__user-menu a:hover {
  opacity: 1;
}

.main-header a:active,
.main-footer a:active {
  opacity: 0.3;
}

.search-form__input {
  background-color: var(--yellow);
  border: none;
  outline: none;
}

.search-form__input::placeholder {
  color: var(--black-basic);
  opacity: 0.3;
}

.search-form__input:hover::placeholder {
  opacity: 0.6;
}

.search-form__input:focus::placeholder {
  opacity: 1;
}

.search-form__button {
  background-color: var(--yellow);
  border: 2px solid var(--black-almost);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  display: none;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  transition-duration: var(--transition-duration);
}

.main-header .logo {
  width: 100%;
  margin-bottom: 29px;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

.logo {
  transition-duration: var(--transition-duration);
}

.search-form__input:focus + .search-form__button {
  display: flex;
}

.search-form__button:hover {
  color: var(--white);
  background-color: var(--black-basic);
}

.search-form__button:active {
  display: flex;
  color: rgba(255, 255, 255, 0.3);
}

.slider__slider-2,
.slider__slider-3,
.service-slider__warranty,
.service-slider__credit {
  display: none;
}

.product-type {
  padding-top: 210px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.product-type::before {
  position: absolute;
  content: "";
  width: 157px;
  height: 160px;
  background-color: var(--yellow);
  top: 0;
  transition-duration: var(--transition-duration);
}

.product-type:hover::before {
  background-color: var(--orange);
  z-index: 1;
}

.product-type::after {
  position: absolute;
  content: "";
  background-image: url("../img/product-type-reality.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
  top: 0;
  width: 160px;
  height: 160px;
  transition-duration: var(--transition-duration);
}

.product-type__virtual-reality {
  width: 157px;
}

.product-type__monopod::after {
  background-image: url("../img/product-type-monopod.png");
}

.product-type__action-camera::after {
  background-image: url("../img/product-type-action-camera.png");
}

.product-type__fintess-tracker::after {
  background-image: url("../img/product-type-fitness-bracket.png");
}

.product-type__smart-watch::after {
  background-image: url("../img/product-type-smart-watch.png");
}

.product-type__quodrohelicopter::after {
  background-image: url("../img/product-type-quadrohelicopter.png");
}

.product-type:active::after {
  opacity: 0.3;
}

.popup-feedback input,
.popup-feedback textarea {
  background-color: var(--grey-form-back);
  color: rgba(0, 0, 0, 0.4);
  border: 2px solid transparent;
}

.popup-feedback input:hover,
.popup-feedback textarea:hover {
  background-color: var(--grey-form-back-hover);
}

.popup-feedback input:focus,
.popup-feedback textarea:focus {
  background-color: var(--white);
  color: var(--black-basic);
  border: 2px solid var(--yellow);
  outline: none;
}

.partner-list img {
  filter: grayscale(1);
  transition-duration: var(--transition-duration);
}

.partner-list img:hover {
  filter: none;
}

.sort-section-link-list a,
.pages-section__number {
  opacity: 0.3;
}

.breadcrumbs a:hover,
.sort-section-link-list a:hover,
.pages-section__number:hover {
  opacity: 0.6;
}

.sort-section .sort-link_active,
.sort-section-link-list a:active,
.pages-section__number:active,
.pages-section__number_active {
  opacity: 1;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.pages-section__word:hover {
  background-color: var(--grey-page-hover);
}

.pages-section__word:active {
  color: rgba(0, 0, 0, 0.3);
}

.pages-section a {
  display: block;
  padding: 10px 15px;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 360px;
}

.product-text {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.product-hover-div {
  position: absolute;
  top: 200px;
  left: 100px;
  opacity: 0;
  transition-duration: var(--transition-duration);
}

.product:hover .product-hover-div {
  opacity: 1;
  transition-delay: 0.3s;
}

.product:hover img {
  opacity: 0.7;
  transition-duration: var(--transition-duration);
}

.popup-map,
.popup-feedback {
  display: none;
}

a[href^="tel:"]:hover,
a[href^="tel:"]:active {
  opacity: 1;
}

.social-icon-list a {
  opacity: 0.3;
}

.social-icon-list a:hover {
  opacity: 0.6;
}

.social-icon-list a:active {
  opacity: 0.1;
}

.main-footer.link-academy {
  opacity: 1;
}

.main-footer .link-academy:hover {
  opacity: 0.6;
}

.main-footer .link-academy:active {
  opacity: 0.3;
}

.button-add-to-compare {
  background-color: transparent;
  border: none;
  opacity: 0.5;
}

.button-add-to-compare:hover {
  opacity: 1;
}

.button-add-to-compare:active {
  opacity: 0.2;
  outline: none;
}

.sort-section-icon-list a {
  opacity: 0.2;
}

.sort-section-icon-list a:hover {
  opacity: 0.4;
}

.sort-section-icon-list a:active {
  opacity: 1;
}

.filter-sort-div,
.form-catalog-div {
  display: flex;
}

.filter-sort-div {
  margin-top: 50px;
}

.filter-sort-div::before,
.filter-sort-div::after,
.form-catalog-div::before,
.form-catalog-div::after {
  flex-grow: 1;
  content: "";
  min-width: 20px;
}

.filter-sort-div::before {
  background-color: var(--grey-filter-back);
}

.filter-sort-div::after {
  background-color: var(--grey-light);
}

.form-catalog-div::before {
  background-color: var(--grey-light);
}

.main .filter-header,
.form-filter {
  width: 328px;
  margin-left: auto;
  background-color: var(--grey-filter-back);
}

.sort-section {
  display: flex;
}

.sort-section-link-list,
.sort-section-icon-list {
  display: flex;
}

.main-body .sort-section-link-list {
  margin-left: 76px;
  width: 290px;
}

.main-body .sort-section-icon-list {
  margin-left: 220px;
  width: 52px;
  justify-content: space-between;
  line-height: 0;
}

.sort-section-link-list li {
  margin-right: 30px;
}

.sort-section-link-list li:last-child {
  margin-right: 0;
}

.catalog-pages-div {
  display: grid;
  grid-template-rows: auto auto;
  margin-top: 69px;
  margin-left: 72px;
}

.catalog-pages-div .catalog-section {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 48px 40px;
  margin-bottom: 40px;
}

.sort-section,
.catalog-pages-div {
  width: 832px;
  margin-right: auto;
}

.catalog-pages-div {
  width: 760px;
}

.sort-section,
.form-filter {
  background-color: var(--grey-light);
}

.form-filter legend {
  margin-bottom: 30px;
}

.form-filter .button_interactive {
  margin-top: 50px;
}

.fieldset-color,
.fieldset-bluetooth {
  display: flex;
  flex-direction: column;
}

.fieldset-color label,
.fieldset-bluetooth label {
  margin-bottom: 20px;
}

.footer__upper-row,
.footer__middle-row,
.footer__bottom-row {
  display: flex;
  justify-content: space-between;
}

.footer__middle-row {
  margin-top: 76px;
}

.footer__bottom-row {
  position: relative;
  align-items: center;
  margin-top: 67px;
}

.footer__bottom-row::before {
  position: relative;
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--yellow-bar);
}

.footer__middle-row .middle-row__address {
  width: 220px;
}

.footer__middle-row .middle-row__phone-number {
  width: 170px;
}

.footer__middle-row .footer-nav {
  width: 423px;
}

/*TODO Don't move it*/
*, *::before, *::after {
  box-sizing: border-box;
}
