:root {
  --black-basic: #000;
  --black-almost: #363636;

  --white: #fff;

  --grey-basic: #7e7e7e;
  --grey-dark: #464646;
  --grey-light: #e5e5e5;
  --grey-back: #ebebeb;
  --grey-form-back: #f2f2f2;
  --grey-form-back-hover: #eaeaea;
  --grey-page-hover: #d9d9d9;
  --grey-filter-back: #dcdcdc;

  --yellow: #f7e296;
  --yellow-bar: #ffc600;
  --orange: #f0c52e;
  --green: #91c92f;
  --pink: #f6dada;

  --font-open-sans: "Open Sans", Arial, sans-serif;
  --font-gilroy: "Gilroy", Arial, sans-serif;

  --transition-duration: 0.6s;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-extrabold.woff2") format("woff2"),
  url("../fonts/gilroy-extrabold.woff") format("woff")
;
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  src: url("../fonts/gilroy-light.woff2") format("woff2"),
  url("../fonts/gilroy-light.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  min-width: 1160px;

  font-family: var(--font-open-sans);
  font-size: 15px;
  line-height: 28px;
}

a {
  text-decoration: none;
  color: var(--black-basic);
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-body ul {
  list-style: none;
}

.main-body ul,
.main-body p,
.main-body h1,
.main-body h2,
.main-body h3 {
  padding: 0;
  margin: 0;
}

.main-body h1 {
  margin-top: 44px;
  margin-left: 61px;
}

.main-body .breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 31px;
  margin-left: 61px;
}

.breadcrumbs li {
  margin-right: 16px;
}

.main-header {
  margin-top: 20px;
  padding-left: 60px;
  padding-right: 58px;
  padding-bottom: 49px;

  background-image: linear-gradient(var(--white) 20px, var(--yellow) 20px);
}

.header-upper-row {
  display: flex;
  flex-wrap: wrap;

  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.header-main-nav {
  margin-top: 32px;

  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: var(--font-gilroy);
  text-transform: uppercase;
}

.header-main-nav__upper-menu {
  display: flex;
  flex-wrap: wrap;
  width: 1044px;
}

.form-search {
  position: relative;

  display: flex;
  width: 539px;
}

.form-search::before {
  position: absolute;
  content: "";
  left: 0;
  top: 20px;

  width: 16px;
  height: 16px;

  background-image: url("../img/user-icon-search.svg");
}

.header__user-menu li:nth-child(2) {
  margin-left: 215px;
}

.header__user-menu_catalog li:nth-child(2) {
  margin-left: 21px;
}

.header__user-menu_catalog li:nth-child(3) {
  margin-left: 63px;
}

.header__user-menu li:last-child {
  margin-left: 39px;
}

.header__user-menu_catalog li:nth-child(4) {
  margin-left: 39px;
}

.header-main-nav .submenu {
  position: absolute;
  z-index: 1;
  top: 40px;
  left: -60px;

  display: none;
  gap: 6px 61px;
  grid-template-columns: 180px 125px 180px;;
  grid-template-rows: repeat(3, 30px);
  width: 1160px;
  min-height: 146px;
  padding: 12px 60px;

  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: var(--font-open-sans);
  text-transform: none;
  letter-spacing: normal;

  background-color: var(--yellow);
}

.submenu__action-camera-option {
  grid-row-start: 3;
}

.slider-section {
  position: relative;

  font-family: var(--font-gilroy);

  background-image: linear-gradient(var(--yellow) 115px, var(--white) 115px);
}

.slider-section::before {
  position: absolute;
  content: "";
  top: 20px;
  right: 460px;

  width: 100px;
  height: 7px;

  background-color: var(--white);
}

.slider-section article {
  position: relative;

  padding: 78px 35px 5px 601px;
}

.slider::before {
  position: absolute;
  content: "";
  left: 89px;
  top: -14px;

  width: 384px;
  height: 486px;

  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
}

.slider::after {
  position: absolute;
  content: "";
  top: 12px;
  right: 60px;

  width: 164px;
  height: 131px;

  background-image: url("../img/slider-number-01.png");
}

.slider__slider-2::after {
  width: 194px;

  background-image: url("../img/slider-number-02.png");
}

.slider__slider-3::after {
  width: 196px;

  background-image: url("../img/slider-number-03.png");
}

.slider__slider-2::before {
  top: 12px;
  left: 116px;

  background-image: url("../img/slider-2.png");
}

.slider__slider-3::before {
  top: 68px;
  left: 30px;

  width: 526px;
  height: 334px;

  background-image: url("../img/slider-3.png");
}

.slider .button_interactive {
  width: 220px;
  margin-top: 51px;
}

.service-section {
  margin-top: 69px;

  background-image: linear-gradient(var(--white) 115px, var(--grey-light) 115px);
}

.service-section .container {
  display: flex;

  min-height: 403px;
}

.full-description {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 51px;
  width: 450px;
  row-gap: 15px;
}

.slider__slider-3 .full-description {
  width: 318px;
}

.slider__slider-2 .full-description {
  grid-template-columns: repeat(1, 1fr);
  width: 190px;
  gap: 15px;
}

.slider__slider-3 .full-description {
  grid-template-columns: repeat(2, 1fr);
}

.slider-controls {
  position: absolute;
  right: 88px;
  bottom: 142px;

  display: flex;
}

.slider-controls li {
  margin-right: 18px;
}

.slider-controls li:last-child {
  margin-right: 0;
}

.button_slider-control {
  position: relative;

  display: block;
  width: 12px;
  height: 12px;

  border-radius: 50%;
  border: 1px solid var(--black-basic);
}

.button_slider-control_active::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 50%;
  left: 50%;

  border-radius: 50%;
  border: 1px solid var(--black-basic);

  transform: translate(-50%, -50%);
}


.slider-section .description,
.main-footer {
  font-family: var(--font-open-sans);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.main-body .description {
  margin-top: 27px;
}

.slider-section h3 {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.slider__slider-3 h3 {
  position: relative;
  z-index: 1;
}

.slider-section .property-value {
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.slider__slider-1 .extra-margin {
  margin-left: 10px;
}

.slider-section .property-description {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.button_interactive {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  padding: 9px 19px;

  text-transform: uppercase;

  background-color: transparent;
  border: none;
}

.button_interactive::before {
  position: absolute;
  z-index: -1;
  content: "";

  width: 100%;
  height: 8px;

  background-color: var(--orange);

  transition-duration: var(--transition-duration);
}

.product-hover-div .button_interactive {
  width: 200px;
}

.slider__slider-2 .button_interactive::before,
.slider__slider-3 .button_interactive::before,
.product-hover-div .button_interactive::before {
  background-color: var(--yellow);
}

.button_interactive:hover::before {
  height: 100%;
}

.button_interactive:active {
  color: rgba(0, 0, 0, 0.3);

  outline: none;
}

.service-section .button_interactive {
  width: 160px;
}

.service-section .button_interactive_active,
.service-section .button_interactive:active {
  width: 280px;
  justify-content: flex-start;

  color: var(--yellow);

  background-color: var(--black-basic);

  transition-duration: var(--transition-duration);
}

.service-section .button_interactive_active::before,
.service-section .button_interactive:active::before {
  display: none;
}

.product-type-section,
.service-section a,
.button_interactive,
.footer-nav,
.popup-feedback label,
.catalog-section a {
  font-family: var(--font-gilroy);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.footer-nav,
.social-icon-list {
  display: flex;
  justify-content: center;
}

.main-footer .social-icon-list {
  margin-left: 432px;
}

.footer-nav li {
  margin-right: 33px;
}

.footer__user-menu a,
.header__user-menu a {
  position: relative;

  display: block;
  padding-left: 25px;
}

.header__user-menu_catalog .link_exit,
.footer__user-menu .link_exit {
  padding-left: 0;
}

.header__user-menu_catalog .link_exit {
  opacity: 0.3;
}

.list-item_link_exit {
  margin-left: -14px;
}

.footer__user-menu a::before,
.header__user-menu a::before {
  position: absolute;
  content: "";
  left: 1px;
  top: 4px;

  width: 13px;
  height: 14px;

  background-image: url("../img/user-icon-user-yellow.svg");
}

.header__user-menu .link_login_catalog::before {
  background-image: url("../img/user-icon-user-login-yellow.svg");
}

.header__user-menu .link_login::before {
  background-image: url("../img/user-icon-user.svg");
}

.header__user-menu .link_compare::before {
  width: 14px;
  height: 14px;

  background-image: url("../img/user-icon-chart.svg");
}

.header__user-menu .link_cart::before {
  left: 5px;
  top: 6px;

  width: 10px;
  height: 10px;

  background-image: url("../img/user-icon-cart.svg");
}

.header__user-menu_catalog .link_exit::before,
.footer__user-menu .link_exit::before {
  display: none;
}

.footer__user-menu .link_compare::before {
  width: 14px;
  height: 14px;

  background-image: url("../img/user-icon-chart-yellow.svg");
}

.footer__user-menu .link_cart::before {
  width: 10px;
  height: 10px;

  background-image: url("../img/user-icon-cart-yellow.svg");
}

.social-icon-list li {
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-icon-list li:last-child {
  margin-right: 0;
}

.product-type-section {
  margin-top: 111px;
}

.main-footer .footer__user-menu {
  width: 326px;
}

.main-footer_catalog .footer__user-menu {
  width: 480px;
}

.footer__user-menu {
  display: flex;
  justify-content: space-between;
}

.product-type-section ul {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
}

.service-section h3,
.about-us-section h2,
.contact-section h2,
.main h1 {
  font-family: var(--font-gilroy);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.service-section p,
.about-us-section p,
.contact-section p {
  font-family: var(--font-open-sans);
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
}

.main-body .delivery-list {
  margin-top: 58px;

  font-family: var(--font-gilroy);
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

.delivery-list li {
  position: relative;

  margin-bottom: 15px;
  padding-left: 32px;
}

.delivery-list li::before {
  position: absolute;
  content: "";
  top: 9px;
  left: 0;

  width: 8px;
  height: 8px;

  border: 2px solid var(--grey-light);
  border-radius: 50%;
}

.main-body .service-list {
  position: relative;

  margin-top: 95px;
}

.service-list li {
  margin-bottom: 21px;
}

.service-list::after {
  position: absolute;
  content: "";
  z-index: 1;
  right: -4px;
  top: -79px;

  height: 320px;
  width: 7px;

  background-color: var(--black-basic);
}

.main-body .service-slider {
  margin-left: 121px;
}

.service-slider h3 {
  margin-top: 85px;
}

.service-slider p {
  margin-top: 41px;
  width: 600px;

  letter-spacing: 0.1em;
}

.service-slider__warranty p {
  line-height: 31px;
}

.service-slide {
  position: relative;
}

.service-slide::after {
  position: absolute;
  content: "";
  right: -157px;
  top: 1px;

  width: 136px;
  height: 164px;

  background-image: url("../img/service-delivery.png");
}

.service-slider__warranty::after {
  right: -175px;
  top: -17px;

  width: 171px;
  height: 195px;

  background-image: url("../img/service-warranty.png");
}

.service-slider__credit::after {
  right: -151px;
  top: -22px;

  width: 156px;
  height: 188px;

  background-image: url("../img/service-credit.png");
}

.partner-section {
  margin-top: 90px;
}

.partner-list {
  display: flex;
  flex-wrap: wrap;
}

.partner-list li {
  margin-right: 40px;
}

.partner-list li:nth-child(4n) {
  margin-right: 0;
}

.about-us-and-contact-div {
  display: flex;
  margin-top: 90px;
  margin-bottom: 76px;
}

.about-us-and-contact-div .button_interactive {
  width: 260px;
  margin-top: 69px;
}

.contact-section img {
  margin-top: 40px;
}

.about-us-section {
  width: 473px;
  margin-right: 127px;
}

.about-us-section::before,
.contact-section::before {
  position: absolute;
  content: "";
  top: -8px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: var(--black-basic);
}

.contact-section {
  width: 560px;
}

.about-us-section,
.contact-section {
  position: relative;

  padding-top: 48px;
}

.about-us-and-contact-div h3 {
  margin-bottom: 50px;
}

.about-us-and-contact-div p {
  margin-top: 41px;
}

.popup-feedback input,
.popup-feedback textarea,
.breadcrumbs,
.form-filter label,
.sort-section-link-list {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.link-exit,
.breadcrumbs a {
  opacity: 0.3;
}

.main h2,
.sort-section h3,
.pages-section {
  font-family: var(--font-gilroy);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.sort-section h3 {
  letter-spacing: 0.1em;
}

.form-filter legend {
  font-family: var(--font-gilroy);
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
}

.form-filter label {
  font-weight: 300;
}

.main-body .price {
  margin-top: 3px;
  margin-left: auto;

  font-family: var(--font-gilroy);
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.product-text a {
  width: 273px;
  letter-spacing: 0.05em;
}

.button-add-to-compare {
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
}

.pages-section {
  margin-bottom: 78px;

  background-color: var(--grey-back);
}

.pages-section .pages-section__page-list {
  display: flex;
  flex-wrap: wrap;
}

.pages-section__page-list li:nth-child(2),
.pages-section__page-list li:last-child {
  margin-left: auto;
}

.footer__user-menu a {
  color: rgba(255, 255, 255, 0.7);
}

.footer__user-menu a::before {
  opacity: 1;
}

.main-footer {
  padding: 46px 0 64px;

  color: var(--white);

  background-color: var(--black-almost);
}

.main-footer .logo {
  margin-top: 18px;
}

.footer__middle-row a {
  color: inherit;
  text-transform: uppercase;
}

.footer-nav a,
.contact-section h2,
.about-us-section h2,
.button_interactive,
.service-section h3,
.header-main-nav {
  letter-spacing: 0.2em;
}

.catalog-link {
  position: relative;

  width: 240px;
  padding-right: 40px;

  letter-spacing: 0.1em;
}

.catalog-link::after {
  position: absolute;
  content: "";
  right: 11px;

  width: 22px;
  height: 22px;

  background-image: url("../img/menu-icon-plus.svg");
}

.header-main-nav__upper-menu > li:nth-child(2) {
  margin-left: 300px;
}

.header-main-nav__upper-menu > li:nth-child(3) {
  margin-left: 35px;
}

.header-main-nav__upper-menu > li:last-child {
  margin-left: auto;
}

.catalog-link:hover .submenu {
  display: grid;
}

.main-header a:hover,
.main-footer a:hover {
  opacity: 0.6;
}

.footer__user-menu a:hover {
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}

.footer__user-menu a:hover::before {
  opacity: 0.6;
}

.main-header a:active,
.main-footer a:active {
  opacity: 0.3;
}

.search-form__input {
  padding: 19px 17px 19px 38px;

  background-color: var(--yellow);
  border: none;
  outline: none;
}

.search-form__input::placeholder {
  color: var(--black-basic);
  opacity: 0.3;
}

.search-form__input:hover::placeholder {
  opacity: 0.6;
}

.search-form__input:focus::placeholder {
  opacity: 1;
}

.search-form__button {
  display: none;
  justify-content: center;
  align-items: center;

  width: 84px;
  padding: 15px 17px;

  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;

  background-color: var(--yellow);
  border: 2px solid var(--black-almost);

  transition-duration: var(--transition-duration);
}

.main-header .logo {
  width: 100%;
  margin-bottom: 8px;
}

.main-body .header__user-menu {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  padding: 17px 0;
}

.logo {
  transition-duration: var(--transition-duration);
}

.search-form__input:focus + .search-form__button {
  display: flex;
}

.search-form__button:hover {
  color: var(--white);

  background-color: var(--black-basic);
}

.search-form__button:active {
  display: flex;

  color: rgba(255, 255, 255, 0.3);
}

.slider__slider-1,
.slider__slider-2,
.slider__slider-3,
.service-slider__delivery,
.service-slider__warranty,
.service-slider__credit {
  display: none;
}

.service-slider_active {
  display: block;
}

.slider_active {
  display: flex;
}

.product-type {
  position: relative;

  display: flex;
  padding-top: 198px;
  flex-direction: column;

  letter-spacing: 0.05em;
}

.normal-spacing {
  letter-spacing: normal;
}

.product-type::before {
  position: absolute;
  content: "";
  top: 0;

  width: 160px;
  height: 160px;

  background-color: var(--yellow);

  transition-duration: var(--transition-duration);
}

.short-width::before,
.short-width::after {
  width: 157px;
}

.product-type:hover::before {
  z-index: 1;

  background-color: var(--orange);
}

.product-type::after {
  position: absolute;
  content: "";
  z-index: 2;
  top: 0;

  width: 160px;
  height: 160px;

  background-image: url("../img/product-type-reality.png");
  background-repeat: no-repeat;
  background-position: center;

  transition-duration: var(--transition-duration);
}

.product-type__virtual-reality {
  width: 157px;
}

.product-type__monopod::after {
  background-image: url("../img/product-type-monopod.png");
}

.product-type__action-camera::after {
  background-image: url("../img/product-type-action-camera.png");
}

.product-type__fintess-tracker::after {
  background-image: url("../img/product-type-fitness-bracket.png");
}

.product-type__smart-watch::after {
  background-image: url("../img/product-type-smart-watch.png");
}

.product-type__quodrohelicopter::after {
  background-image: url("../img/product-type-quadrohelicopter.png");
}

.product-type:active::after {
  opacity: 0.3;
}

.popup-feedback input,
.popup-feedback textarea {
  color: rgba(0, 0, 0, 0.4);

  background-color: var(--grey-form-back);
  border: 2px solid transparent;
}

.popup-feedback input:hover,
.popup-feedback textarea:hover {
  background-color: var(--grey-form-back-hover);
}

.popup-feedback input:focus,
.popup-feedback textarea:focus {
  color: var(--black-basic);

  background-color: var(--white);
  border: 2px solid var(--yellow);
  outline: none;
}

.partner-list img {
  filter: grayscale(1);
  opacity: 0.18;

  transition-duration: var(--transition-duration);
}

.partner-list img:hover {
  filter: none;
  opacity: 1;
}

.sort-section-link-list a,
.pages-section__number {
  opacity: 0.3;
}

.breadcrumbs a:hover,
.sort-section-link-list a:hover,
.pages-section__number:hover {
  opacity: 0.6;
}

.sort-section .sort-link_active,
.sort-section-link-list a:active,
.pages-section__number:active,
.pages-section__number_active {
  opacity: 1;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.pages-section__word:hover {
  background-color: var(--grey-page-hover);
}

.pages-section__word:active {
  color: rgba(0, 0, 0, 0.3);
}

.pages-section a {
  display: block;
  padding: 24px 15px 25px;

  letter-spacing: 0.1em;
}

.pages-section .pages-section__word {
  padding: 24px 30px 25px;
}

.new-marker::before {
  position: absolute;
  content: "";
  right: 27px;
  top: 29px;

  width: 62px;
  height: 62px;

  background-image: url("../img/marker-new.png");
}

.product {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 360px;
}

.product-text {
  display: flex;
  margin-top: 30px;
}

.product-hover-div {
  position: absolute;
  top: 171px;
  left: 78px;

  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0;

  transition-duration: var(--transition-duration);
}

.product:hover .product-hover-div {
  opacity: 1;

  transition-delay: 0.3s;
}

.product:hover img {
  opacity: 0.7;

  transition-duration: var(--transition-duration);
}

.popup-map,
.popup-feedback {
  display: none;
}

a[href^="tel:"]:hover,
a[href^="tel:"]:active {
  opacity: 1;
}

.social-icon-list a {
  opacity: 0.3;
}

.social-icon-list a:hover {
  opacity: 0.6;
}

.social-icon-list a:active {
  opacity: 0.1;
}

.main-footer.link-academy {
  opacity: 1;
}

.main-footer .link-academy:hover {
  opacity: 0.6;
}

.main-footer .link-academy:active {
  opacity: 0.3;
}

.button-add-to-compare {
  background-color: transparent;
  border: none;
  opacity: 0.5;
  margin-top: 12px;
  letter-spacing: 0.1em;
}

.button-add-to-compare:hover {
  opacity: 1;
}

.button-add-to-compare:active {
  opacity: 0.2;
  outline: none;
}

.sort-section-icon-list a {
  opacity: 0.2;
}

.sort-section-icon-list a:hover {
  opacity: 0.4;
}

.sort-section-icon-list a:active {
  opacity: 1;
}

.filter-sort-div,
.form-catalog-div {
  display: flex;
}

.filter-sort-div {
  margin-top: 50px;
}

.filter-sort-div::before,
.filter-sort-div::after,
.form-catalog-div::before,
.form-catalog-div::after {
  content: "";

  flex-grow: 1;
  min-width: 20px;
}

.filter-sort-div::before {
  background-color: var(--grey-filter-back);
}

.filter-sort-div::after {
  background-color: var(--grey-light);
}

.form-catalog-div::before {
  background-color: var(--grey-light);
}

.main .filter-header,
.form-filter {
  padding: 24px 25px 26px 61px;
  width: 328px;
  margin-left: auto;

  letter-spacing: 0.1em;

  background-color: var(--grey-filter-back);
}

.sort-section {
  display: flex;
  padding: 24px 0 26px 72px;
}

.sort-section-link-list,
.sort-section-icon-list {
  display: flex;
}

.main-body .sort-section-link-list {
  margin-left: 73px;
  width: 290px;
  margin-top: 1px;
}

.main-body .sort-section-icon-list {
  margin-left: 220px;
  width: 52px;
  justify-content: space-between;
  margin-top: 2px;

  line-height: 0;
}

.sort-section-link-list li {
  margin-right: 30px;
}

.sort-section-link-list li:last-child {
  margin-right: 0;
}

.catalog-pages-div {
  display: grid;
  grid-template-rows: auto auto;
  margin-top: 70px;
  margin-left: 72px;
}

.catalog-pages-div .catalog-section {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 48px 40px;
  margin-bottom: 40px;
}

.sort-section,
.catalog-pages-div {
  width: 832px;
  margin-right: auto;
}

.catalog-pages-div {
  width: 760px;
}

.sort-section,
.form-filter {
  background-color: var(--grey-light);
}

.form-filter legend {
  margin-bottom: 30px;
}

.form-filter .button_interactive {
  margin-top: 50px;
}

.fieldset-color,
.fieldset-bluetooth {
  display: flex;
  flex-direction: column;
}

.fieldset-color label,
.fieldset-bluetooth label {
  margin-bottom: 20px;
}

.footer__upper-row {
  display: flex;
  justify-content: space-between;
}

.footer__middle-row {
  display: flex;
  margin-top: 36px;
}

.footer__bottom-row {
  position: relative;

  display: flex;

  align-items: center;
  margin-top: 65px;
}

.footer__bottom-row::before {
  position: relative;
  content: "";
  bottom: 3px;

  width: 80px;
  height: 7px;

  background-color: var(--yellow-bar);
}

.link-academy {
  margin-left: auto;
}

.footer__middle-row .middle-row__address {
  width: 220px;
}

.footer__middle-row .middle-row__phone-number {
  width: 164px;
  margin-left: auto;
}

.footer__middle-row .footer-nav {
  width: 440px;
  margin-left: 142px;
}

/*TODO Don"t move it*/
*, *::before, *::after {
  box-sizing: border-box;
}
